<h2>New Reminder</h2>
<% html_title "New Reminder" %>

<div class="reminder-wrap">
    <%= render "form", reminder: @reminder %>
</div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'reminder', :plugin => 'reminder' %>
    <%= javascript_include_tag 'reminder', :plugin => 'reminder' %>
<% end %>
